# Ignore node_modules
node_modules/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore the build directory
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
